.container
  width: 60%
  height: 40rem
  margin: 2rem auto
  display: flex
  align-items: center
  form
    width: 50%
    height: 70%
    margin: 0rem 3rem
    input
      height: 2rem
    label, input
      display: block
      width: 100%
      margin: 1rem 0rem
    button
      cursor: pointer
      border: none
      background-color: #000
      color: #fff
      padding: 0.5rem
    > p
      color: red