.nav 
  display: flex
  align-items: center
  padding: 1.3rem 0rem
  border-bottom: 2rem solid #313538
  .logo
    width: 15%
    margin: 0rem 2rem
    cursor: pointer

.ul
  display: flex
  li
    font-size: 1.1rem
    list-style-type: none
    height: 1.5rem
    flex: 1
    display: flex
    justify-content: space-between
    align-items: center
    width: 3.5rem
    margin-right: 1.5rem
    padding-right: 1.5rem
    &:not(:last-child)
      border-right: 1px solid #3F3A3A

.buttons
  margin-left: auto
  display: flex
  padding-right: 2rem
  align-items: center
  img
    width: 2.5rem
  input, img
    margin-right: 1.5rem
  input
    width: 10rem
    height: 35px
    border-radius: 20px
    border: solid 1px #979797
    background-image: url("assets/search.png") 
    background-repeat: no-repeat
    background-position: 95%
    background-size: 2rem
    padding-left: 1rem
  .cart
    position: relative
    > div
      position: absolute
      width: 1.1rem
      height: 1.1rem
      border-radius: 50%
      background-color: #8B572A
      color: #ffffff
      display: flex
      justify-content: center
      align-items: center
      padding: 0.2rem
      right: 20px
      bottom: 0px




